.bg-gradient {
	background-image: linear-gradient(to bottom,
									  @theme_bg_color,
									  shade(@theme_bg_color, 0.94)
									  12%);
}

.btn-important {
  background: @theme_selected_bg_color;
}
